{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block activedashboard %}
	class="nav-link active"
{% endblock %}

{% block container %}
	<main
		class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
		<!-- Navbar -->
		<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
			<div class="container-fluid py-1 px-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
						<li class="breadcrumb-item text-sm">
							<a class="opacity-5 text-dark" href="javascript:;">Pages</a>
						</li>
						<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
					</ol>
					<h6 class="font-weight-bolder mb-0">Dashboard</h6>
				</nav>
				<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
					<div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
					<ul class="navbar-nav  justify-content-end">
						<li class="nav-item d-flex align-items-center">
							<a href="/" class="nav-link text-body font-weight-bold px-0">
								<i class="fas fa-power-off me-sm-1"></i>
								<span class="d-sm-inline d-none">Déconnexion</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-6">
					<div class="card mb-4">
						<div class="card-header pb-0">
							<h6>Tableau de tâches</h6>
						</div>
						<div class="card-body px-0 pt-0 pb-2">
							<div class="table-responsive p-0">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tâche</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descriptif</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Durée</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tâche(s) antérieure(s)</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Niveau de la tâche</th>
											<th class="text-secondary opacity-7"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="d-flex px-2 py-1">
													<div class="d-flex flex-column justify-content-center">
														<h6 class="mb-0 text-sm">A</h6>
													</div>
												</div>
											</td>
											<td>
												<p class="text-xs font-weight-bold mb-0">blazlsefqezlrfelrgerqzergf</p>
											</td>
											<td class="align-middle text-center text-sm">
												<span class="badge badge-sm bg-gradient-success">5 jours</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">Aucune</span>
											</td>
											<td class="align-middle text-center text-sm">
												<span class="text-secondary text-xs font-weight-bold">1</span>
											</td>
											<td class="align-middle">
												<a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
													supprimer
												</a>
											</td>
										</tr>
										<tr>
											<td>
												<div class="d-flex px-2 py-1">
													<div class="d-flex flex-column justify-content-center">
														<h6 class="mb-0 text-sm">B</h6>
													</div>
												</div>
											</td>
											<td>
												<p class="text-xs font-weight-bold mb-0">blazlsefqezlrfelrgerqzergf</p>
											</td>
											<td class="align-middle text-center text-sm">
												<span class="badge badge-sm bg-gradient-success">5 jours</span>
											</td>
											<td class="align-middle text-center">
												<span class="text-secondary text-xs font-weight-bold">A</span>
											</td>
											<td class="align-middle text-center text-sm">
												<span class="text-secondary text-xs font-weight-bold">2</span>
											</td>
											<td class="align-middle">
												<a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
													supprimer
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
							<button type="button" class="btn bg-gradient-dark w-95 my-4 mb-2" style="margin: 0 auto;">Voir graphique</button>
					</div>
				</div>

				<div class="col-6">

					<div class="card z-index-0">
						<div class="card-body">
							<form role="form text-left">
								<div class="row mb-4">
									<div class="col-6 mb-4">
										<input type="text" class="form-control" placeholder="Tâche" aria-label="Name">
									</div>
									<div class="col-6">
										<input type="number" class="form-control" placeholder="Durée" aria-label="Dure">
									</div>
                                    <div class="col-6">
										<input type="text" class="form-control" placeholder="Tâche antérieur" aria-label="Name">
									</div>
									<div class="col-6">
										<input type="number" class="form-control" placeholder="Niveau de la tâche" aria-label="Dure">
									</div>
								</div>
								<div class="row">
									<div class="col-12">
										<textarea id="form7" placeholder="Description de la tâche..." class="md-textarea form-control" rows="3"></textarea>
									</div>
								</div>
								<div class="text-center">
									<button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">Ajouter la tâche</button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	{% endblock %}
